* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
:root {
  --para-color: #777;
  --menu-bar: #ffff;
  --blue: #4054b2;
  --title: #222222eb;
  --course: darkcyan;
  --footer: #0d162dee;
  --background: rgba(195, 206, 215, 0.18);
}
.row {
  --bs-gutter-x: 0;
}
body {
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  position: relative;
}
::-webkit-scrollbar {
  width: 4px;
  position: relative;
  right: 0;
}
::-webkit-scrollbar-track {
  background-color: var(--menu-bar);
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue);
}
::-webkit-scrollbar-corner {
  display: none;
}
/* css for header */
header {
  height: 70px;
  background-color: var(--blue);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: sticky;
  top: 0;
  z-index: 100;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 10px;
}

.logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--menu-bar);
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}
.nav-links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 15px;
  list-style: none;
}
.nav-links ul li a {
  color: var(--menu-bar);
  font-weight: 500;
  text-decoration: none;
  position: relative;
}
.nav-links ul li a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 2px;
  width: 0%;
  border-radius: 10px;
  background: var(--menu-bar);
  transition: all 0.25s ease-in;
}
.nav-links ul li a:hover::after {
  width: 100%;
}

.menu-bar {
  display: none;
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 550px) {
  .logo a {
    font-size: 20px;
    padding-top: 10px;
  }
  .nav-links ul {
    display: none;
  }
  .mobile-menu {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 250px;
    background-color: burlywood;
    position: absolute;
    top: -100vh;
    transition: all 0.3s ease;
  }

  .mobile-menu-display {
    top: 70px;
  }
  .mobile-menu ul {
    margin-top: 20px;
  }
  .mobile-menu ul li {
    list-style: none;
    margin: 10px;
  }
  .mobile-menu ul li a {
    text-decoration: none;
    color: var(--menu-bar);
    font-weight: 500;
    font-size: 18px;
    position: relative;
  }
  .mobile-menu ul li a::after {
    content: "";
    position: absolute;
    bottom: -3px;
    height: 2px;
    background: var(--menu-bar);
    border-radius: 10px;
    width: 0%;
    left: 0;
    transition: all 0.25s ease-in;
  }
  .mobile-menu ul li a:hover::after {
    width: 100%;
  }

  .menu-bar {
    display: block;
    color: var(--menu-bar);
    font-size: 25px;
    cursor: pointer;
  }
}


/* css for admin courses */
.courses{
  margin: 20px 0;
  display: flex;
  justify-content:space-evenly;

}
.course{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin: 10px;
  border-radius: 10px;
}
.course-image{
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius:  10px 10px 0 0;
}
.course-content{
  padding: 10px !important;
}
.course-title{
  color: teal;
  font-weight: bold;
  font-size: 20px;
}
.about-course{
  color: var(--para-color);
  font-size: 18px;
}
.title{
  text-align: center;
}

/* css for notice */
.notices{
  margin: 30px 0;
}
.notice{
  box-shadow: rgba(1, 1, 1, 0.16) 0px 1px 4px;
  padding: 20px;
  margin: 10px 0;
}
.notice-title-date{
  line-height: 10px;
}
.notice-title{
  font-size: 20px;
  font-weight: bold;
  color:var(--blue);
}
.publish-date{
  color:teal;
  font-size: 14px;
}
.notice-content{
  color: var(--para-color);
  font-size: 18px;

}
/* css for admin gallery */
.gallery{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.gallery-image{
  width: 200px;
  height: 250px;
  overflow: hidden;
  margin: 10px;
}
.gallery-image img{
  width: 200px;
  height: 200px;
  object-fit: cover;
}